<div>
  <div class="div-head row">
    <div style="flex-grow: 1">
        <h4>BankSearch</h4>
    </div>
    <div style="flex-grow: 4">
        <input [(ngModel)]="searchText" 
       (input)="randomFunc()" placeholder="Search for Bank" class="filter-input">

    </div>
    <div style="flex-grow: 1">
        <label>City: </label>
        <select (change)="filterCity($event.target.value)" style="font-size: 20px">
            <option value="MUMBAI">Mumbai</option>
            <option value="DELHI">Delhi</option>
            <option value="PUNE">Pune</option>
            <option value="BANGALORE">Bangalore</option>
        </select>
    </div>
    <div style="flex-grow: 4" class="container" style="background-color: whitesmoke">
        <h3 style="color:rgb(34, 34, 34)">{{switchString}}</h3>
        <div class="checkbox-container green">
          <input type="checkbox" id="toggle2" (change)="onClickSwitch()"/>
          <label for="toggle2"></label>
          <div class="active-circle"></div>
        </div>
</div>
  </div>
  <div>
          <div class="row">
            <div style="flex-grow: 2">
                <h3>No. of Rows: {{noOfRows}}</h3>
            </div>
            <div style="flex-grow: 2">
              <select (change)="pagination($event.target.value)" style="font-size: 20px">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
            </div>
            <div style="flex-grow: 6">
              <div class="row">
                <div style="flex-grow: 1">
                    <button (click)="prevPage()">Prev</button>
                </div>
                <div *ngFor = "let button of buttonList" style="flex-grow: 1"> 
                  <button (click)="onClickPageNumber($event.target.value)" value="{{button}}">{{button}}</button>
                </div>
                <div style="flex-grow: 1">
                    <button (click)="nextPage()">Next</button>
                </div>
              </div>
            </div>
           </div>
          <!-- <div class="customSlider">
              <input type="range" min="1" max="{{bank.length}}" value="{{noOfRows}}" class="slider" (input)="pagination($event.target.value)">
          </div> -->
    </div>
  <table>
     <div *ngIf = "!searchBool">
          <tr>
              <th>Id</th>
              <th>Name</th>
              <th>IFSC</th>
              <th>Branch</th>
              <th>Address</th>
              <th>Mark as Favourite</th>
            </tr>
        <tr *ngFor="let b of tempBank">
          <td>{{ b.bank_id }}</td>
          <td>{{ b.bank_name }}</td>
          <td>{{ b.ifsc }}</td>
          <td>{{ b.branch }}</td>
          <td>{{ b.address }}</td>
          <td>
              <div class="page__toggle">
                  <label class="toggle">
                    <input class="toggle__input" type="checkbox" (change)="getFav($event.target.value)" name="bank"
                    value="{{ b.ifsc }}">
                    <span class="toggle__label">
                      <span class="toggle__text"></span>
                    </span>
                  </label>
                </div>
          </td>
        </tr>
      </div>
      
      <div *ngIf="searchBool">
        <tr  *ngFor="let b of bank| filter : searchText">
          <td>{{ b.bank_id }}</td>
          <td>{{ b.bank_name }}</td>
          <td>{{ b.ifsc }}</td>
          <td>{{ b.branch }}</td>
          <td>{{ b.address }}</td>
          <td>
              <div class="page__toggle">
                  <label class="toggle">
                    <input class="toggle__input" type="checkbox" (change)="getFav($event.target.value)" name="bank"
                    value="{{ b.ifsc }}">
                    <span class="toggle__label">
                      <span class="toggle__text"></span>
                    </span>
                  </label>
                </div>
          </td>
        </tr>
      </div>
  </table>
  <h4 *ngIf="loading" style="padding: 0% 25%">Please wait untill I fill {{ cityName }} bank details for you..!</h4>
  <h4 *ngIf="favMessage" style="padding: 0% 25%">Your favorite banks are added here, try adding some.</h4>
</div>